.register {
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;
    margin-top: 3%;
    padding: 3%;
}

body {
    background: url("../img/pexels-johannes-plenio-1103970.jpg");
}

.register-left {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10%;
}

.register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 100%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

#les-titre {
    margin-top: 7px;
}

#sous-titre {
    font-weight: bold;
    color: #383d41;
}

#bienvenu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register-left img {
    animation: MoveUpDown 3s linear infinite;
    left: 0;
    position: relative;
    bottom: 0;
    width: 100px;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 10px;
    }
    50% {
        bottom: 50px;
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: 9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 5%;
    margin-left: -100px;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #182533;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

#Top_P {
    margin-top: 20%;
    font-size: 20px;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #000;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
    border: none;
}

.register-heading {
    text-align: center;
    font-size: 400%;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.list-inline-item a {
    font-size: 20px;
    color: #222;
}

.copyright {
    font-size: 15px;
}