    @font-face {
        font-family: "ballpark";
        src: url("../polices/ballpark.ttf") format("truetype");
    }
    
    @font-face {
        font-family: "dayrom";
        src: url(../polices/dayrom.ttf) format("truetype");
    }
    
    header div h1 {
        font-family: "ballpark";
        margin-left: 50px;
        font-size: 60px;
        color: black;
    }
    
    body {
        background: url("../images/fond_jaune.jpg");
    }
    
    #titrePrincipal h4 {
        font-family: "dayrom";
        margin-top: -5px;
    }
    
    nav ul {
        margin-top: 10px;
        display: flex;
        float: right;
    }
    
    div nav ul li {
        margin: 130px 40px 0px 0px;
        display: inline;
        float: left;
    }
    
    nav ul li a {
        font-size: 22px;
        color: black;
        font-family: "dayrom";
        text-decoration: none;
    }
    
    header {
        background: url("../images/separateur.png") repeat-x bottom;
    }
    
    nav a:hover {
        color: #8b0000;
        border-bottom: 2.5px solid #8b0000;
    }
    
    #imgfrancisco #frnc {
        border-radius: 7px;
        margin-top: 17px;
        box-shadow: 0px 0px 7px 0px;
    }
    
    #bartext {
        background-color: rgb(0, 0, 0);
        margin-top: -45px;
        opacity: 0.8;
    }
    
    #bartext button {
        display: inline-block;
        height: 25px;
        position: relative;
        background: url('../images/fond_degraderouge.png') repeat-x;
        height: 30px;
        border: 1px solid #760001;
        border-radius: 5px;
        text-align: center;
        color: white;
        text-decoration: none;
        float: right;
        margin-right: 10px;
        margin-top: -4px;
    }
    
    #flechf {
        margin-top: 0px;
        margin-left: 5px;
    }
    
    #bartext p {
        background-color: black;
        color: #ffff;
        height: 45px;
        padding-top: 10px;
        padding-left: 3px;
    }
    
    article h3 {
        margin-top: 20px;
        font-family: "dayrom";
    }
    
    article p {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20 px;
        margin-left: 10px;
    }
    
    #gree {
        background-color: #706b64;
        border-radius: 12px;
        height: 90%;
        margin-top: -5px;
    }
    
    aside #gree {
        box-shadow: 0px 0px 7px 0px;
    }
    
    #h4 {
        font-family: " dayrom";
        color: #ffff;
        margin-top: 25px;
        text-align: center;
    }
    
    #flech {
        width: 20px;
        margin-top: -40px;
        margin-left: -20px;
    }
    
    #zozor {
        width: 80%;
        margin-left: 10%;
        border: 1px solid #000;
    }
    
    #msg {
        color: #ffff;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    #img1234 {
        margin-top: 30px;
        margin-left: 5px;
    }
    
    #png {
        margin-left: 10px;
        margin-top: 15px;
        width: 15%;
    }
    
    #hello {
        margin-top: -44px;
        background: url("../images/separateur.png") repeat-x;
    }
    
    #hello img {
        width: 80px;
        margin-left: 50%;
    }
    
    #txt5 {
        font-family: " dayrom";
        text-align: left;
    }
    
    #img5 {
        border: 1px solid #000;
        margin-left: 10px;
    }
    
    #links a {
        font-size: 15px;
        color: #760001;
        text-decoration: none;
    }
    
    #links li {
        padding-left: -10px;
        display: inline-block;
    }